{% extends 'base.html' %}
{% block content %}

<!-- Page Content-->
<div class="container px-4 px-lg-5">
    {% if content_list %}
        {% for content in content_list %}
            <div class="row gx-4 gx-lg-5 align-items-center my-5">
                <div class="col-lg-7">
                    <!-- 이미지 -->
                    <img class="img-fluid rounded mb-4 mb-lg-0" src="{{ content.image.url }}" alt="{{ content.title }}" />
                </div>
                <div class="col-lg-5">
                    <!-- 제목 -->
                    <h1 class="font-weight-light">{{ content.title }}</h1>
                    <!-- 내용 요약 -->
                    <p>{{ content.content|truncatewords:30 }}</p>
                    <!-- Call to Action 버튼 -->
                    {% if content.title == "패션" %}
                        <a class="btn btn-primary" href="{% url 'detail' content.id %}">확인해보기!</a>
                    {% elif content.title == "쿠폰" %}
                        <a class="btn btn-primary" href="{% url 'detail' content.id %}">확인해보기!</a>
                    {% elif content.title == "여행" %}
                        <a class="btn btn-primary" href="{% url 'detail' content.id %}">확인해보기!</a>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    {% else %}
        <p>There are no contents available.</p>
    {% endif %}
</div>

{% endblock %}
{% include "footer.html" %}
